<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
  <title>Upload files with Flask</title>
</head>
<body>
<h1>Upload files<h1>

    <form method=post enctype=multipart/form-data>
      <input type=file name=file multiple>
      <input type=submit value=Upload>
    </form>

{%- if files %}
  <h2>Files</h2>

  <ul>
  {%- for code, file in files.items() %}
      <li><a href="/download/{{ code }}">{{ file }}</a></li>
  {% endfor %}
  </ul>
{% endif %}

</body>
</html>

