<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport"
     content="width=device-width, initial-scale=1, user-scalable=yes">
  <title>Edit Record</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="edit_record.js"></script>
</head>
<body ng-app="EditRecordApp" ng-controller="EditRecordController">
 
<div ng-show="page === 'list'">
  <h2>Listing</h2>
 
  <div ng-repeat="r in records">{{r.name}}
   <button ng-click="edit($index)">Edit</button>
  </div>
</div>
 
<div ng-show="page === 'editor'">
  <h2>Editor</h2>
  <div>Name: <input ng-model="editor.name"></div>
  Planet: <select ng-options="v as v.name for v in values track by v.id" ng-model="editor.planet"></select>
 
   <div> <button ng-click="save()">Save</button> <button ng-click="cancel()">Cancel</button> </div>
</div>

<h2>Records</h2>
<pre>
{{records | json : pretty}}
</pre>
 
</body>
</html>

