.main-content {
  margin: 20px;
  background-color: #FFFFFF;
  padding: 10px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}

.qa {
/*
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  border-color: #000;
  border-style: solid;
  padding: 10px;
*/
}

.question {
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 10px;
}

.answer {
  margin-left: 20px;
}

/*
.rnd-author {
   padding-bottom: 20px;
}
*/

.rnd-author:after {
    content: '';
    display: block;
    clear: both;
}

.rnd-author-img {
    float: left;
    margin-right: 5px;
}

#rnd-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
