[ req ]
default_bits       = 2048
distinguished_name = req_distinguished_name
prompt = no
[ req_distinguished_name ]
countryName                 = IL
stateOrProvinceName         = Center
localityName               = City
organizationName           = Company
[ san ]
subjectAltName = @alt_names
[ alt_names ]
DNS.1   = test.domain.com
DNS.2   = test.domain.local

