name: CI

on: [push, pull_request]

jobs:
  perl-job:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        perl-version:
          - '5.32'
    container:
      image: perl:${{ matrix.perl-version }}
    name: Perl ${{ matrix.perl-version }}
    steps:
      - uses: actions/checkout@v2

      - uses: actions/checkout@v2
        with:
           repository: 'szabgab/Perl-Maven'
           path: 'Perl-Maven'
      - name: Perl version
        run: |
            perl -v

      - name: Check Calendar
        run: |
            cpanm --notest Data::ICal Data::ICal::Entry::Event DateTime DateTime::Format::ICal DateTime::Duration Cpanel::JSON::XS Path::Tiny
            perl Perl-Maven/bin/check.pl
